

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mz-main-container{
    width: 100vw;
    height: calc(100vh - 54px);
    position: relative;
    top: 6px;
    bottom: 0;
}

.d-flex{
    display: flex;
}

.mz-col-3{
    height: 250px;
    width: 300px;
}

.box{
    border: 1px solid lightgray;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box .title{
    height: 47px;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(214, 214, 214);
    font-size: ;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.debug{
    background-color: rgba(139, 236, 93, 0.479);
    border: 1px solid black;
}

/* HEADER */

header{
    height: 54px;
    width: 100vw;
    border: 1px solid black;
    justify-content: space-between;
   
    z-index: 4;
}

.small-logo{
    display: none;
}

/* SIDENAV */

.sidenav{
    height: calc(100vh - 54px);
    position: relative;
    left: 0;
    /* top: 54px; */
    width: calc(100vw - 90%);
    border: 1px solid black;
    background-image: url(../img/sidebar-bg.png), linear-gradient(rgb(5, 30, 52), rgb(14, 38, 60));
    justify-content: space-between;
    color: white;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
}

.sidenav .container ul{
    padding-left: 0;
}

.sidenav .container i{
    font-size: 1.1rem;
}

.sidenav .container ul li{
    list-style: none;
    padding-top: 15px;
}

.sidenav .container{
    padding-bottom: 10px;
}

/* MAIN */

main{
    position: relative;
    /* top: 54px; */
    right: 0;
    width: calc(100vw - 10%);
    font-size: 0.7rem;
    overflow: scroll;
    overflow-x: hidden;
    height: calc(100vh - 54px);
}

.row{
    width: 100%;
}

.blue-container{
    height: 100px;
    width: 100%;
    background-color: rgb(26, 115, 232);
    justify-content: space-between;
    color: white;
    padding: 20px;
}

tbody, td, tfoot, th, thead, tr:first-child{
    border-bottom-color: black ;
}

table tbody tr .grande{
    width: 35%;
}

.btn-group-sm>.btn, .mz-btn-sm{
    padding: 0.2rem;
}

.col-3 .mz-col-3 .box{
    width: 100%;
    max-width: 470px;
}

.col-3 .box .card{
    
}

/* Media Query */

@media screen and (max-width:991px) {

    .sidenav ul li span{
        display: none;
    }

    .sidenav .container ul li i{
        margin-left: 17px;
    }

    .logo-big{
        display: none;
    }

    .small-logo{
        display: block;
        width: 60px;
        
    }

}

@media screen and (max-width:1200px) {

    table thead tr:nth-child(3), table tbody tr:nth-child(3){
        display: none;
    }
    
}